#socials {
    display: flex;
    width: fit-content;
    margin-left: auto;
}

#socials i {
    font-size: 24px;
    padding: 0.8rem 0.5rem;
}

#socials :last-child {
    margin-right: 0.2rem;
}

.social-link {
    transition: all 0.2s;
    color: rgba(255, 255, 255, 0.6);
}

.social-link:hover {
    transition: all 0.2s;
    color: rgba(255, 255, 255, 0.9);
}

footer {
    background-color: var(--higlight-color-dark);
}